@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
.icon {
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

#root,
#__next,
#__nuxt {
  isolation: isolate;
}

button,
[type=button],
[role=button] {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--header-height);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vh;
}

:root {
  scrollbar-color: gray;
  scrollbar-width: 5px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (width > 768px) {
  .sm-only {
    display: none;
  }
}

.small {
  font-size: 0.5em;
}

.smaller {
  font-size: 0.75em;
}

.large {
  font-size: 1.5em;
}

.larger {
  font-size: 1.25em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.container {
  width: min(100% - 4rem, 1120px);
  margin-inline: auto;
}

:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;
  --size-17: 4.25rem;
  --size-18: 4.5rem;
  --size-19: 4.75rem;
  --size-20: 5rem;
  --size-21: 5.25rem;
  --size-22: 5.5rem;
  --size-23: 5.75rem;
  --size-24: 6rem;
  --size-25: 6.25rem;
  --size-26: 6.5rem;
  --size-27: 6.75rem;
  --size-28: 7rem;
  --size-29: 7.25rem;
  --size-30: 7.5rem;
  --size-31: 7.75rem;
  --size-32: 8rem;
  --size-33: 8.25rem;
  --size-34: 8.5rem;
  --size-35: 8.75rem;
  --size-36: 9rem;
  --header-height: 125px;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

main:not([data-no-js=true]) .load-on-scroll {
  opacity: 0;
  transform: translateY(var(--size-8));
  transition-property: opacity, transform;
  transition-duration: 300ms, 500ms;
  transition-timing-function: ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0.25s;
}

main:not([data-no-js=true]) .is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Reset and Globals End */
body {
  font-family: "Fraunces", serif;
  background-color: #3ebfff;
  font-weight: 600;
}
body[data-is-nav-open=true] {
  overflow: hidden;
}
@media (width > 768px) {
  body {
    font-size: 18px;
  }
}

span,
p {
  font-family: "Barlow", sans-serif;
}

/* Header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  max-height: var(--header-height);
  background-color: #3ebfff;
}
.header:not([data-on-top=true]) {
  box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.2);
}
@media (width > 768px) {
  .header {
    padding: 3rem 3.5rem;
  }
}
@media (width > 768px) {
  .header-logo-img {
    scale: 1.2;
  }
}

.primary-nav {
  position: absolute;
  right: 0;
  top: 350%;
  z-index: 999;
  width: calc(100vw - 4rem);
  background: var(--white);
  color: var(--Dark-grayish-blue);
  translate: 0 -200%;
  opacity: 0;
  font-family: "Barlow", sans-serif;
  transition: translate 500ms ease, opacity 300ms ease;
}
.primary-nav[data-open=true] {
  translate: 0 0;
  opacity: 1;
  transition: translate 500ms ease, opacity 300ms 200ms ease;
  box-shadow: 0 0 0.5rem 0.25rem hsla(0, 0%, 0%, 0.2);
}
@media (width > 768px) {
  .primary-nav[data-open=true] {
    box-shadow: none;
  }
}
@media (width > 768px) {
  .primary-nav {
    position: relative;
    width: auto;
    color: var(--white);
    background-color: transparent;
    translate: 0 0;
    opacity: 1;
    transition: none;
  }
}

/* End Header */
/* Navigation */
.nav-container {
  display: flex;
  align-items: center;
  position: relative;
}
@media (width > 768px) {
  .nav-container {
    font-size: calc(var(--size-4) + var(--size-1) / 2);
  }
}
.nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  margin-block: 2rem;
}
.nav-list::before {
  content: "";
  position: absolute;
  top: -1.99rem;
  right: 0;
  border: 1rem solid transparent;
  border-top: 0;
  border-right: 0;
  border-left: 2rem transparent solid;
  border-bottom: 2rem solid white;
}
@media (width > 768px) {
  .nav-list::before {
    border: 0;
    top: auto;
    right: auto;
  }
}
@media (width > 768px) {
  .nav-list {
    flex-direction: row;
    gap: 3rem;
  }
}
.nav-contact {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: var(--Very-dark-desaturated-blue);
  background-color: var(--yellow);
}
.nav-contact:active {
  translate: 0 2px;
}
.nav-contact:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
@media (width > 768px) {
  .nav-contact {
    background-color: var(--white);
  }
  .nav-contact:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: var(--white);
    -webkit-filter: none;
    filter: none;
  }
}

/* End Navigation */
/* Hero */
.hero {
  min-height: calc(100vh - var(--header-height));
  text-align: center;
  background-image: url("../../images/mobile/image-header.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width > 768px) {
  .hero {
    background-image: url("../../images/desktop/image-header.jpg");
  }
}
.hero-heading {
  padding-top: 0.75em;
  font-size: var(--size-12);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--white);
}
@media (width > 500px) {
  .hero-heading {
    letter-spacing: 0.375rem;
  }
}
@media (width > 768px) {
  .hero-heading {
    font-size: var(--size-16);
  }
}
.hero-arrow-container {
  margin-top: 3rem;
}
.hero-arrow {
  margin-inline: auto;
}

/* End Hero */
/* Features */
.features {
  display: grid;
  grid-auto-flow: row;
}
@media (width > 768px) {
  .features {
    grid-auto-rows: 1fr;
  }
}
.features-article {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  background-color: var(--white);
  align-items: center;
}
@media (width > 768px) {
  .features-article {
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
  }
}
@media (width > 768px) {
  .features-article:nth-of-type(1) picture {
    order: 2;
  }
}
.features-picture {
  height: 100%;
}
.features-img {
  -o-object-position: center center;
  object-position: center center;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.features-content {
  padding-inline: 1.75rem;
  padding-block: 3.5rem;
  text-align: center;
}
.features-content > * + * {
  margin-top: 1.5rem;
}
@media (width > 768px) {
  .features-content {
    padding-inline: 15%;
    text-align: start;
  }
}
@media (width > 1120px) {
  .features-content {
    padding-inline: 17%;
  }
}
.features-heading {
  font-size: var(--size-8);
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}
@media (width > 768px) {
  .features-heading {
    font-size: var(--size-12);
  }
}
.features-text {
  max-width: 45ch;
  margin-inline: auto;
  color: var(--Dark-grayish-blue);
}
@media (width > 768px) {
  .features-text {
    margin-inline: 0;
  }
}
.features-link {
  display: inline-block;
  position: relative;
  z-index: 10;
  isolation: isolate;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--Very-dark-desaturated-blue);
}
.features-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 0.25rem;
  border-radius: 999px;
  width: 100%;
  height: 0.375em;
  background-color: var(--underline);
  translate: -50% 0;
  scale: 1.0675;
  opacity: 0.3;
}
.features-link:hover::after {
  opacity: 1;
}

/* End Features */
/* Services */
.services {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}
@media (width > 768px) {
  .services {
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
  }
}
.services-article {
  display: grid;
  align-items: end;
  padding-inline: 1.75rem;
  padding-block: 3.5rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 80vh;
}
.services-article[data-bg=graphics] {
  color: var(--dark-desaturated-cyan);
  background-image: url("../../images/mobile/image-graphic-design.jpg");
}
@media (width > 500px) {
  .services-article[data-bg=graphics] {
    background-image: url("../../images/desktop/image-graphic-design.jpg");
  }
}
.services-article[data-bg=photography] {
  color: var(--dark-blue);
  background-image: url("../../images/mobile/image-photography.jpg");
}
@media (width > 500px) {
  .services-article[data-bg=photography] {
    background-image: url("../../images/desktop/image-photography.jpg");
  }
}
.services-article > * + * {
  margin-top: 1.5rem;
}
@media (width > 768px) {
  .services-article {
    padding-inline: 15%;
    min-height: auto;
  }
}
@media (width > 1120px) {
  .services-article {
    padding-inline: 20%;
  }
}
.services-text {
  max-width: 40ch;
  margin-inline: auto;
}

/* End Services */
/* Testimonial */
.testimonials {
  background-color: var(--white);
}
.testimonials .wrapper {
  padding-block: var(--size-16);
}
@media (width > 768px) {
  .testimonials .wrapper {
    padding-block: var(--size-20);
  }
}
.testimonials-heading {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.125em;
  color: var(--grayish-blue);
}
.testimonials-text {
  max-width: 35ch;
  margin-inline: auto;
}
.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3em;
}
@media (width > 768px) {
  .testimonials-container {
    margin-top: 5em;
  }
}
.testimonials-container > * {
  flex: 1 1 325px;
}
.testimonials-testimonial {
  text-align: center;
  color: var(--Very-dark-desaturated-blue);
}
.testimonials-testimonial > * + * {
  margin-top: 1.5rem;
}
@media (width > 768px) {
  .testimonials-testimonial > * + * {
    margin-top: 3rem;
  }
}
.testimonials-author-img {
  margin-inline: auto;
  width: 3.75rem;
  border-radius: 50%;
}
.testimonials-author-position {
  color: var(--grayish-blue);
  margin-top: 0.5em;
}

/* End Testimonial */
/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (width > 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gallery-picture {
  width: 100%;
  height: 100%;
}
.gallery-img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/* End Gallery */
/* Footer */
.footer {
  color: var(--dark-desaturated-cyan);
  background-color: hsl(167, 44%, 70%);
  padding-block: var(--size-10);
}
@media (width > 768px) {
  .footer {
    padding-block: var(--size-16);
  }
}
.footer-logo-img {
  margin-inline: auto;
}
@media (width > 768px) {
  .footer-logo-img {
    scale: 1.2;
  }
}
.footer-logo-img path {
  fill: var(--dark-desaturated-cyan);
}
.footer .secondary-nav {
  margin-top: 2.5rem;
  font-family: "Barlow", sans-serif;
}
.footer .nav-list {
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}
.footer .nav-link:hover {
  color: var(--white);
}
.footer .socials-list {
  margin-top: 3.5rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  font-size: 1.75rem;
  justify-content: center;
  align-items: center;
}
.footer .social-link:hover {
  color: var(--white);
}

/* End Footer */

/*# sourceMappingURL=style.css.map */
